body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
  margin: 10px;
}

.item {
  flex: 1 0 200px;
  margin: 5px;
  border: 1px solid #333;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  transition: 0.3s ease-in-out;
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 10px 0px  rgba(0,0,0,0.5);
}