body {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
}

.gallery {
    flex: 25%;
    max-width: 25%;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.gallery img {
    max-width: 50%;  /* New */
    max-height: 50%; /* New */
    height: auto;
    transition: transform .5s ease;
    cursor: pointer;
}

.gallery img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 800px) {
    .gallery, .gallery img {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .gallery, .gallery img {
        flex: 100%;
        max-width: 100%;
    }
}
